.main{
    margin-top: 20px;
    cursor: pointer;
}.left{

    width: 25%;
}
.right{
    background-color: blacks;
    width: 75%;
   
}
.bor{
    border-radius: 20px;
    height: 350px;
}
.texxt{
    line-height: 28px;
    height: 350px;
    width: 230px;
    margin-left: 250%;
   padding-top: 15px;
    border-radius: 30px;
padding-left: 19px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
cursor: pointer;
}

.line{
    padding-top: 10px;
    background-color: papayawhip;
    height: 50px;
    border-radius: 10px;
    
}
.font{
    font-size: 15px;
  
    
}